<!DOCTYPE html>
Deck
1 Detention Chariot
1 Perilous Snare
1 Ride's End
2 Voyager Quickwelder
1 Aether Syphon
1 Diversion Unit
1 Guidelight Optimizer
1 Rangers' Refueler
1 Spikeshell Harrier
1 Stock Up
1 Transit Mage
2 Grim Bauble
1 Pactdoll Terror
1 Spin Out
2 Wreckage Wickerfolk
1 Guidelight Pathmaker
1 Haunt the Network
1 Guidelight Matrix
2 Starting Column
1 Country Roads
1 Dismal Backwater
1 Scoured Barrens
1 Tranquil Cove
2 Plains
5 Island
6 Swamp

Sideboard
1 Air Response Unit
1 Brightfield Mustang
1 Spotcycle Scouter
1 Swiftwing Assailant
1 Gearseeker Serpent
1 Howler's Heavy
2 Hulldrifter
1 Spell Pierce
1 Maximum Overdrive
1 Risky Shortcut
1 Streaking Oilgorger
1 Wind-Scarred Crag