<!doctype html>
<!-- Modal for Set -->
<div class="modal fade" id="helpSet" tabindex="-1" aria-labelledby="helpSetLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpSetLabel">Set</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Select the card set to use in the simulation. Different sets may have different card data and rules.
            </div>
        </div>
    </div>
</div>

<!-- Modal for Play or Draw -->
<div class="modal fade" id="helpOnPlayOrDraw" tabindex="-1" aria-labelledby="helpOnPlayOrDrawLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpOnPlayOrDrawLabel">Play or Draw</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Choose whether you are on the play or on the draw. This affects the simulation's draw order and
                available mana.
            </div>
        </div>
    </div>
</div>

<!-- Modal for Deck List -->
<div class="modal fade" id="helpDeckList" tabindex="-1" aria-labelledby="helpDeckListLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpDeckListLabel">Deck List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Paste your deck list here. It should include a "Deck" section and optionally a "Sideboard" section
                (which will be ignored).
            </div>
        </div>
    </div>
</div>

<!-- Modal for Deck Size -->
<div class="modal fade" id="helpDeckSize" tabindex="-1" aria-labelledby="helpDeckSizeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpDeckSizeLabel">Deck Size</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Specify the total number of cards in the deck, including filler cards. This determines how many cards
                are in your simulated deck.
            </div>
        </div>
    </div>
</div>

<!-- Modal for Initial Hand Size -->
<div class="modal fade" id="helpHandSize" tabindex="-1" aria-labelledby="helpHandSizeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpHandSizeLabel">Initial Hand Size</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Enter the number of cards drawn in your opening hand.
            </div>
        </div>
    </div>
</div>

<!-- Modal for Number of Draw Steps -->
<div class="modal fade" id="helpDraws" tabindex="-1" aria-labelledby="helpDrawsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpDrawsLabel">Number of Draw Steps</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This is the number of turns (or draw steps) to simulate beyond the initial hand.
            </div>
        </div>
    </div>
</div>

<!-- Modal for Number of Simulations -->
<div class="modal fade" id="helpSimulations" tabindex="-1" aria-labelledby="helpSimulationsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpSimulationsLabel">Number of Simulations</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Set how many times the simulation will run. More simulations provide smoother statistics but take
                longer.
            </div>
        </div>
    </div>
</div>

<!-- Modal for Random Seed -->
<div class="modal fade" id="helpSeed" tabindex="-1" aria-labelledby="helpSeedLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpSeedLabel">Random Seed</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Enter a number to seed the random number generator. This makes simulation runs reproducible.
            </div>
        </div>
    </div>
</div>